@import '_variables&fxs';

.product{
    z-index: 1;
    height: 100vh;
    width: 100%;
    @include flexPosition(row,nowrap,center);
    .centered{
        width: 90%;
        max-width: 60em;
        @include flexPosition(row,nowrap,space-between);
        @include respond(medium) {
            flex-direction: column;
        }
        .column{
            width: 45%;
            @include respond(medium) {
                width: 90%;
                text-align: left;
                padding-left: 1em;
                img{
                    display: block;
                    transform: scale(0.9);
                }
            }
            h2{
                @include up($textSeparation);
                @include respond(medium){
                    display: block;
                    padding-top: 1em;
                }
            }
            .line{
                border: $baseColorB solid 1px;
                width: 100%;
                max-width: 120px;
                background-color: $baseColorB;
                margin: 2em 0;
                display: inline-flex;
            }
            p{
                margin: 0 0 2.2em;
                line-height: 1.8em;
                color: $baseColorB;
            }
            .btn{
                h3{
                    a{
                        padding: 1em 2em;
                        border:2px solid $baseColorY;

                        display: inline-flex;

                        @include up($textSeparationSmall);
                        font-weight: 600;
                        font-size: .6em;
                        color: $baseColorY;

                        transition: all 0.5s ease;
                        &:hover{
                            background-color: $baseColorY;
                            color: $mainBg;
                        }
                    }
                }
            }
        }

    }
}
