$baseColorY: #e6ae48;
$baseColorB: #393939;
$lightColor: #a6a6a6;
$mobileLinecolor: #eaeaea;
$mainBg: white;

$textSeparation: 5px;
$textSeparationSmall: 2px;
$mainFont: 'Raleway';
$fontWeight: 800;



@mixin reset(){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
}

@mixin flexPosition($direction,$wrapping,$just){
    display: flex;
    flex: $direction $wrapping;
    justify-content: $just;
    align-items: center;
    align-content: initial;
}
@mixin fixedTop(){
    position: fixed;
    top: 0;
    left: 0;
}
@mixin up($separation){
    text-transform: uppercase;
    letter-spacing: $separation;
}

@mixin respond($breakpoint) {
    @if $breakpoint == medium {
        @media screen and (max-width:1000px) { @content };
    }
    @if $breakpoint == small {
        @media screen and (max-width:650px) { @content };
    }
}
