@import '_reset';
*{
    @include reset;
}
@import '_header', '_variables&fxs', '_product','_footer';
body{
    font-family: $mainFont;
    @include respond(medium){
        font-size: 90%;
    }
}

.product.yellow{
    @extend .product;
    background-color: $baseColorY;
    .centered{
        flex-direction: row-reverse;
        text-align: right;
        @include respond(medium) {
            flex-direction: column-reverse;
        }
        .column{
            @include respond(medium) {
                text-align: right;
            }
            h2{
                color: $mainBg;
            }
            .line{
                background-color: $mainBg;
                border-color: $mainBg;
            }
            p{
                color: $mainBg;
            }
            .btn{
                h3{
                    a{
                        border-color: $mainBg;
                        color: $mainBg;
                        &:hover{
                            background-color: $mainBg;
                            color: $baseColorY;
                        }
                    }
                }    
            }
        }
    }
    
}