:root{
    --yellow :#e6ae48;
    --lightgrey: #a6a6a6;
    --black: #393939;
    --white: white;
    --separation: 4px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
body{
    font-family: 'Raleway';
}
::selection{
    background-color: var(--yellow);
    color: var(--white);
}
    /* HEADER */
header{
    width: 100%;
    padding: 1.8em 0;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
}
header .centered{
    width: 90%;
    letter-spacing: var(--separation);
    margin: auto;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
}
.logo{
    max-width: 200px;
}
.logo h1{
    font-size: 1.8em;
    font-weight: 800;
    color: var(--black);
}
nav{
    width: calc(100%-200px);
}
nav .menu{
    display: flex;
    flex: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: initial;
}
nav .menuItem{
    margin: 0 0 0 4em;
}
nav .menuItem a{
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: 3px;
    color: var(--black);
    padding: 0 15%;
}
.menuItem a:hover{
    color: var(--yellow);
}

.menuItem.home a{
    color: var(--yellow);
}
.container{
    /* width: 70%; */
    /* background-color: aquamarine; */
    width: 235px;
    display: none;
    position: absolute;
    vertical-align: baseline;
    /* z-index: 1; */
    padding-top: 3em;
    transition: all .5 ease;
}
.pagesMenu .item a{
    text-transform: capitalize;
    color: var(--lightgrey);
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.6em 0.8em;
    letter-spacing: 0;
}
.pagesMenu .item a:hover{
    color: var(--yellow);
}

.menuItem.page:hover .container{
    display: block;
    background-color: var(--white);
}

.container .line{
    display: inherit;
    background-color: var(--yellow);
    width: 100%;
    height: 4px;
    display: none;
}
.menuItem.page:hover .line{
    display: block;
}
    /* MAIN BODY */
    /* WHITE BG */
.product{
    height: 100vh;
    width: 100%;

    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
}
.product .centered{
    width: 90%;
    max-width: 1100px;
   
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
}
.column{
    width: 45%;
}

.column h2{
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: var(--separation);
    font-weight: 800;
    color: var(--black);
}

.column .line{
    border: var(--black) solid 1px;
    width: 100%;
    max-width: 120px;
    background-color: var(--black);
    margin:2em 0;
    display: inline-flex;
}

.column p{
    margin: 0 0 2.2em;
    line-height: 1.8em;
    color: var(--black);
}


.btn h3 a{
    padding: 1em 2em;
    border:2px solid var(--yellow);

    display: inline-flex;

    text-transform: uppercase;
    font-weight: 600;
    font-size: .6em;
    letter-spacing: 2px;
    color: var(--yellow);

    transition: all 0.5s ease;
}

.btn:hover h3 a{
    background-color: var(--yellow);
    color: var(--white);
}

    /* YELLOW BG */

.product.yellow{
    background-color: var(--yellow);
}
.product.yellow .centered{
    flex-direction: row-reverse;
    text-align: right;
}
.product.yellow h2{
    color: var(--white);
}

.product.yellow .line{
    background-color: var(--white);
    border-color: var(--white);
}

.product.yellow p{
    color: var(--white);
}

.product.yellow .btn a{
    border-color: var(--white);
    color: var(--white);
}

.product.yellow .btn:hover h3 a{
    background-color: var(--white);
    color: var(--yellow);
}